@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CondensedThin.eot');
    src: local('Neusa Next Pro Condensed Thin'), local('NeusaNextPro-CondensedThin'),
        url('NeusaNextPro-CondensedThin.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CondensedThin.woff2') format('woff2'),
        url('NeusaNextPro-CondensedThin.woff') format('woff'),
        url('NeusaNextPro-CondensedThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-WideLightItalic.eot');
    src: local('Neusa Next Pro Wide Light Ita'), local('NeusaNextPro-WideLightItalic'),
        url('NeusaNextPro-WideLightItalic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-WideLightItalic.woff2') format('woff2'),
        url('NeusaNextPro-WideLightItalic.woff') format('woff'),
        url('NeusaNextPro-WideLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CondBoldIta.eot');
    src: local('Neusa Next Pro Cond Bold Ita'), local('NeusaNextPro-CondBoldIta'),
        url('NeusaNextPro-CondBoldIta.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CondBoldIta.woff2') format('woff2'),
        url('NeusaNextPro-CondBoldIta.woff') format('woff'),
        url('NeusaNextPro-CondBoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-Light.eot');
    src: local('Neusa Next Pro Light'), local('NeusaNextPro-Light'),
        url('NeusaNextPro-Light.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-Light.woff2') format('woff2'),
        url('NeusaNextPro-Light.woff') format('woff'),
        url('NeusaNextPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CompactBoldIta.eot');
    src: local('Neusa Next Pro Compact Bold Ita'), local('NeusaNextPro-CompactBoldIta'),
        url('NeusaNextPro-CompactBoldIta.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CompactBoldIta.woff2') format('woff2'),
        url('NeusaNextPro-CompactBoldIta.woff') format('woff'),
        url('NeusaNextPro-CompactBoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-WideMedium.eot');
    src: local('Neusa Next Pro Wide Medium'), local('NeusaNextPro-WideMedium'),
        url('NeusaNextPro-WideMedium.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-WideMedium.woff2') format('woff2'),
        url('NeusaNextPro-WideMedium.woff') format('woff'),
        url('NeusaNextPro-WideMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-WideItalic.eot');
    src: local('Neusa Next Pro Wide Italic'), local('NeusaNextPro-WideItalic'),
        url('NeusaNextPro-WideItalic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-WideItalic.woff2') format('woff2'),
        url('NeusaNextPro-WideItalic.woff') format('woff'),
        url('NeusaNextPro-WideItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-WideBoldItalic.eot');
    src: local('Neusa Next Pro Wide Bold Italic'), local('NeusaNextPro-WideBoldItalic'),
        url('NeusaNextPro-WideBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-WideBoldItalic.woff2') format('woff2'),
        url('NeusaNextPro-WideBoldItalic.woff') format('woff'),
        url('NeusaNextPro-WideBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CondensedItalic.eot');
    src: local('Neusa Next Pro Condensed Italic'), local('NeusaNextPro-CondensedItalic'),
        url('NeusaNextPro-CondensedItalic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CondensedItalic.woff2') format('woff2'),
        url('NeusaNextPro-CondensedItalic.woff') format('woff'),
        url('NeusaNextPro-CondensedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CompactItalic.eot');
    src: local('Neusa Next Pro Compact Italic'), local('NeusaNextPro-CompactItalic'),
        url('NeusaNextPro-CompactItalic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CompactItalic.woff2') format('woff2'),
        url('NeusaNextPro-CompactItalic.woff') format('woff'),
        url('NeusaNextPro-CompactItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-Italic.eot');
    src: local('Neusa Next Pro Italic'), local('NeusaNextPro-Italic'),
        url('NeusaNextPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-Italic.woff2') format('woff2'),
        url('NeusaNextPro-Italic.woff') format('woff'),
        url('NeusaNextPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CompactLight.eot');
    src: local('Neusa Next Pro Compact Light'), local('NeusaNextPro-CompactLight'),
        url('NeusaNextPro-CompactLight.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CompactLight.woff2') format('woff2'),
        url('NeusaNextPro-CompactLight.woff') format('woff'),
        url('NeusaNextPro-CompactLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-MediumItalic.eot');
    src: local('Neusa Next Pro Medium Italic'), local('NeusaNextPro-MediumItalic'),
        url('NeusaNextPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-MediumItalic.woff2') format('woff2'),
        url('NeusaNextPro-MediumItalic.woff') format('woff'),
        url('NeusaNextPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-WideBold.eot');
    src: local('Neusa Next Pro Wide Bold'), local('NeusaNextPro-WideBold'),
        url('NeusaNextPro-WideBold.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-WideBold.woff2') format('woff2'),
        url('NeusaNextPro-WideBold.woff') format('woff'),
        url('NeusaNextPro-WideBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-WideThinItalic.eot');
    src: local('Neusa Next Pro Wide Thin Italic'), local('NeusaNextPro-WideThinItalic'),
        url('NeusaNextPro-WideThinItalic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-WideThinItalic.woff2') format('woff2'),
        url('NeusaNextPro-WideThinItalic.woff') format('woff'),
        url('NeusaNextPro-WideThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-Bold.eot');
    src: local('Neusa Next Pro Bold'), local('NeusaNextPro-Bold'),
        url('NeusaNextPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-Bold.woff2') format('woff2'),
        url('NeusaNextPro-Bold.woff') format('woff'),
        url('NeusaNextPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CompactRegular.eot');
    src: local('Neusa Next Pro Compact Regular'), local('NeusaNextPro-CompactRegular'),
        url('NeusaNextPro-CompactRegular.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CompactRegular.woff2') format('woff2'),
        url('NeusaNextPro-CompactRegular.woff') format('woff'),
        url('NeusaNextPro-CompactRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CompactBold.eot');
    src: local('Neusa Next Pro Compact Bold'), local('NeusaNextPro-CompactBold'),
        url('NeusaNextPro-CompactBold.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CompactBold.woff2') format('woff2'),
        url('NeusaNextPro-CompactBold.woff') format('woff'),
        url('NeusaNextPro-CompactBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CompactLightIta.eot');
    src: local('Neusa Next Pro Cmact Lt It'), local('NeusaNextPro-CompactLightIta'),
        url('NeusaNextPro-CompactLightIta.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CompactLightIta.woff2') format('woff2'),
        url('NeusaNextPro-CompactLightIta.woff') format('woff'),
        url('NeusaNextPro-CompactLightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-LightItalic.eot');
    src: local('Neusa Next Pro Light Italic'), local('NeusaNextPro-LightItalic'),
        url('NeusaNextPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-LightItalic.woff2') format('woff2'),
        url('NeusaNextPro-LightItalic.woff') format('woff'),
        url('NeusaNextPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-WideRegular.eot');
    src: local('Neusa Next Pro Wide Regular'), local('NeusaNextPro-WideRegular'),
        url('NeusaNextPro-WideRegular.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-WideRegular.woff2') format('woff2'),
        url('NeusaNextPro-WideRegular.woff') format('woff'),
        url('NeusaNextPro-WideRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-WideMediumItalic.eot');
    src: local('Neusa Next Pro Wide Med Ita'), local('NeusaNextPro-WideMediumItalic'),
        url('NeusaNextPro-WideMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-WideMediumItalic.woff2') format('woff2'),
        url('NeusaNextPro-WideMediumItalic.woff') format('woff'),
        url('NeusaNextPro-WideMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-Medium.eot');
    src: local('Neusa Next Pro Medium'), local('NeusaNextPro-Medium'),
        url('NeusaNextPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-Medium.woff2') format('woff2'),
        url('NeusaNextPro-Medium.woff') format('woff'),
        url('NeusaNextPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-ThinItalic.eot');
    src: local('Neusa Next Pro Thin Italic'), local('NeusaNextPro-ThinItalic'),
        url('NeusaNextPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-ThinItalic.woff2') format('woff2'),
        url('NeusaNextPro-ThinItalic.woff') format('woff'),
        url('NeusaNextPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CondMedIta.eot');
    src: local('Neusa Next Pro Cond Med Ita'), local('NeusaNextPro-CondMedIta'),
        url('NeusaNextPro-CondMedIta.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CondMedIta.woff2') format('woff2'),
        url('NeusaNextPro-CondMedIta.woff') format('woff'),
        url('NeusaNextPro-CondMedIta.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CompactThinIta.eot');
    src: local('Neusa Next Pro Compact Thin Ita'), local('NeusaNextPro-CompactThinIta'),
        url('NeusaNextPro-CompactThinIta.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CompactThinIta.woff2') format('woff2'),
        url('NeusaNextPro-CompactThinIta.woff') format('woff'),
        url('NeusaNextPro-CompactThinIta.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CondensedLight.eot');
    src: local('Neusa Next Pro Condensed Light'), local('NeusaNextPro-CondensedLight'),
        url('NeusaNextPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CondensedLight.woff2') format('woff2'),
        url('NeusaNextPro-CondensedLight.woff') format('woff'),
        url('NeusaNextPro-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CondensedBold.eot');
    src: local('Neusa Next Pro Condensed Bold'), local('NeusaNextPro-CondensedBold'),
        url('NeusaNextPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CondensedBold.woff2') format('woff2'),
        url('NeusaNextPro-CondensedBold.woff') format('woff'),
        url('NeusaNextPro-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CondensedRegular.eot');
    src: local('Neusa Next Pro Cond Reg'), local('NeusaNextPro-CondensedRegular'),
        url('NeusaNextPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CondensedRegular.woff2') format('woff2'),
        url('NeusaNextPro-CondensedRegular.woff') format('woff'),
        url('NeusaNextPro-CondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-BoldItalic.eot');
    src: local('Neusa Next Pro Bold Italic'), local('NeusaNextPro-BoldItalic'),
        url('NeusaNextPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-BoldItalic.woff2') format('woff2'),
        url('NeusaNextPro-BoldItalic.woff') format('woff'),
        url('NeusaNextPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-Regular.eot');
    src: local('Neusa Next Pro Regular'), local('NeusaNextPro-Regular'),
        url('NeusaNextPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-Regular.woff2') format('woff2'),
        url('NeusaNextPro-Regular.woff') format('woff'),
        url('NeusaNextPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-WideThin.eot');
    src: local('Neusa Next Pro Wide Thin'), local('NeusaNextPro-WideThin'),
        url('NeusaNextPro-WideThin.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-WideThin.woff2') format('woff2'),
        url('NeusaNextPro-WideThin.woff') format('woff'),
        url('NeusaNextPro-WideThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CondensedMedium.eot');
    src: local('Neusa Next Pro Condensed Medium'), local('NeusaNextPro-CondensedMedium'),
        url('NeusaNextPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CondensedMedium.woff2') format('woff2'),
        url('NeusaNextPro-CondensedMedium.woff') format('woff'),
        url('NeusaNextPro-CondensedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-Thin.eot');
    src: local('Neusa Next Pro Thin'), local('NeusaNextPro-Thin'),
        url('NeusaNextPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-Thin.woff2') format('woff2'),
        url('NeusaNextPro-Thin.woff') format('woff'),
        url('NeusaNextPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CompactThin.eot');
    src: local('Neusa Next Pro Compact Thin'), local('NeusaNextPro-CompactThin'),
        url('NeusaNextPro-CompactThin.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CompactThin.woff2') format('woff2'),
        url('NeusaNextPro-CompactThin.woff') format('woff'),
        url('NeusaNextPro-CompactThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CompactMedium.eot');
    src: local('Neusa Next Pro Compact Medium'), local('NeusaNextPro-CompactMedium'),
        url('NeusaNextPro-CompactMedium.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CompactMedium.woff2') format('woff2'),
        url('NeusaNextPro-CompactMedium.woff') format('woff'),
        url('NeusaNextPro-CompactMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CondLightIta.eot');
    src: local('Neusa Next Pro Cond Light Ita'), local('NeusaNextPro-CondLightIta'),
        url('NeusaNextPro-CondLightIta.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CondLightIta.woff2') format('woff2'),
        url('NeusaNextPro-CondLightIta.woff') format('woff'),
        url('NeusaNextPro-CondLightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-WideLight.eot');
    src: local('Neusa Next Pro Wide Light'), local('NeusaNextPro-WideLight'),
        url('NeusaNextPro-WideLight.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-WideLight.woff2') format('woff2'),
        url('NeusaNextPro-WideLight.woff') format('woff'),
        url('NeusaNextPro-WideLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CondThinIta.eot');
    src: local('Neusa Next Pro Cond Thin Ita'), local('NeusaNextPro-CondThinIta'),
        url('NeusaNextPro-CondThinIta.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CondThinIta.woff2') format('woff2'),
        url('NeusaNextPro-CondThinIta.woff') format('woff'),
        url('NeusaNextPro-CondThinIta.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-CompactMedIta.eot');
    src: local('Neusa Next Pro Compact Med Ita'), local('NeusaNextPro-CompactMedIta'),
        url('NeusaNextPro-CompactMedIta.eot?#iefix') format('embedded-opentype'),
        url('NeusaNextPro-CompactMedIta.woff2') format('woff2'),
        url('NeusaNextPro-CompactMedIta.woff') format('woff'),
        url('NeusaNextPro-CompactMedIta.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

